body {
    background-color: rgb(54, 3, 54);
    color: white;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    font-weight: bold;
}

h2 {
    text-decoration: underline;
}

ol {
    list-style: decimal-leading-zero;
}

ul {
    color: rgb(255, 252, 100);
}

ul li:first-child {
    font-style: italic;
    color: rgb(223, 109, 223);
}

.p-destaque {
    font-style: italic;
    color: rgb(223, 109, 223);
    margin: 20px 15%;
}

.highlight {
    background-color: rgb(255, 252, 100);
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}