* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato';
}

.container {
    width: 70%;
    margin: 0 auto;
}

button {
    cursor: pointer;
}

/* header */
/* ---------------------------- */

header {
    background-color: rgb(202, 238, 255);
    padding: 40px 0;
}

header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 400px;
    /* margin: 50px 0; */
}

header form {
    display: flex;
    justify-content: center;
}

/* tanto botão quanto input seguiram o mesmo tamanho graças ao display flex, eles se tornaram flex-items do mesmo pai, por isso seguem o mesmo tamanho, por padrão eles possuiem o alinhamento stretch */
header form input {
    font-family: 'Lato';
    padding: 10px;
    font-size: 16px;
    /* height: 39px; */
    /* width: 75%; */
    outline: none;
}

/* header form input:focus {
    outline: none;
} */

header form button {
    padding: 0 20px;
    font-size: 15px;
    /* padding: 12px 20px; */
    border: solid 1px #cccccc;
}

/* nav */
/* ---------------------------- */

nav {
    background-color: #f0f0f0;
    border-top: solid 1px #cccccc;
    border-bottom: solid 1px #cccccc;
}

nav ul {
    display: flex; 
    justify-content: space-between;
    /* padding: 20px 0; */
}

nav ul li {
    list-style: none;
    padding: 20px 15px;
}

nav ul li:hover {
    background-color: white;
}

nav ul a {
    text-decoration: none;
    color: rgb(51, 51, 51);
    font-size: 16px;
}

/* conteudo */
/* ---------------------------- */

main {
    display: flex;
    padding: 20px 0;
}

aside {
    /* background-color: blueviolet; */
    width: 45%;
}

aside > div {
    border-bottom: solid 1px #ccc;
    width: 90%;
    margin: 20px 0;
}

aside div select {
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
}

aside div select option {
    padding: 10px;
}

/* aside div {
    margin: 10px 0;
} */

section {
    /* background-color: rgb(234, 250, 245); */
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    border-left: solid 1px #ccc;
    /* align-items: center; */
    padding: 0 10px;
}

section article {
    background-color: white;
    width: 200px;
    height: auto;
    padding: 10px;
    margin: 18px 11px;
    /* margin-right: 20px; */
    /* margin-bottom: 13px; */
    /* border: solid 1px #ccc; */
}

section article:hover {
    outline: solid 1px #eeeeee;
}

section aticle:hover .icones a {
    color: black;
}

section article img {
    width: 100%;
    margin: 15px 0;
}

section article div {
    display: flex;
    justify-content: space-between;
}

section article div .icones {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(104, 102, 102);
    margin-top: 15px;
}

h4 {
    margin-bottom: 15px;
    font-size: 18px;
}

.descricao {
    color: rgb(104, 102, 102);
    font-size: 14px;
}

section .valor  {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

section .vezes  {
    /* display: block; */
    text-align: center;
    font-size: 14px;
}

footer {
    background-color: rgb(22, 22, 22);
    color: white;
    padding: 20px;
    text-align: center;
}

